<div class="league-container div-all-screen">
  <div class="full-screen blur-background">
    <app-button-retour [link]="link"></app-button-retour>
    <h2 class="league-title">{{league?.name}}</h2>
    <div *ngIf="isNotLoading()" class="league-recap">
      <p>Ligue créée par {{league?.pseudoOwner}}</p>
      <p>Nombre de joueurs : {{league?.nbInLeague}}/{{league?.nbPlayers}}</p>
      <p>Code de la ligue : {{league?.code}}</p>
    </div>
    <div class="tabs">
      <button [class.active]="activeTab === 'classement'" (click)="setActiveTab('classement')">Classement</button>
      <button [class.active]="activeTab === 'equipe'" (click)="setActiveTab('equipe')">Mon effectif</button>
      <button [class.active]="activeTab === 'infos'" (click)="setActiveTab('infos')">Infos</button>
    </div>
    <div *ngIf="activeTab === 'classement'" class="tab-content">
      <div *ngIf="isNotLoading()" class="league-infos">
        <div class="league-infos-classement">
          <table mat-table [dataSource]="dataSource">
            @for (column of columns; track column) {
              <ng-container [matColumnDef]="column.columnDef">
                <th mat-header-cell *matHeaderCellDef>{{column.header}}</th>
                <td mat-cell *matCellDef="let row">{{column.cell(row)}}</td>
              </ng-container>
            }
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="activeTab === 'equipe'" class="tab-content">
      <div *ngIf="isNotLoading()" class="league-infos">
        <div class="league-infos-equipe">
          <app-my-team [league]="league" [myPlayersTemp]="myPlayersTemp!" [myPlayers]="myPlayers!"></app-my-team>
        </div>
      </div>
    </div>
    <div *ngIf="activeTab === 'infos'" class="tab-content">
      <div *ngIf="isNotLoading()" class="league-infos">
        <!-- Ajoutez ici le contenu des infos supplémentaires -->
      </div>
    </div>
    <div *ngIf="!isNotLoading()">
      <app-loader></app-loader>
    </div>
  </div>
</div>
