.league-container {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #282936;

  .league-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;

    @media (min-width: 768px) {
      font-size: 3rem;
    }
    @media (min-width: 1024px) {
      font-size: 4rem;
    }
  }

  .league-recap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
  }

  .league-infos {
    padding: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;

    &-classement {
      width: 80%;
      &-table {
        width: 100%;
        border-collapse: collapse;

        &-header, &-rows {
          height: 35px;
        }

        &-header {
          background-color: rgba(81, 135, 54, 0.58);

          th:first-child {
            border-top-left-radius: 7px;
          }
          th:last-child {
            border-top-right-radius: 7px;
          }

          &-classement {
              width: 30%;
          }

          &-score {
            width: 25%;
          }
        }

        &-rows {
          &:nth-child(odd) {
            background-color: rgba(122, 143, 112, 0.555);
          }
          &:nth-child(even) {
            background-color: rgba(122, 143, 112, 0.38);
          }
          &:last-child {
            td:first-child {
              border-bottom-left-radius: 7px;
            }
            td:last-child {
              border-bottom-right-radius: 7px;
            }
          }
          
          &-line {
            text-align: center;
          }
        }
      }
    }

    &-equipe {
      width: 48%;

      &-titre {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
      }
    }
  }
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  button {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    flex-grow: 1;
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    background-color: unset;

    &.active {
      border-bottom: 2px solid #3d6839;
      font-weight: bold;
    }

    &:hover:not(.active) {
      border-bottom: 2px solid #588055;
    
    }
  }
}

.tab-content {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}