<div class="leagues">
    <h1 class="leagues-title">Mes Ligues</h1>
    <div *ngIf="!isLoading" class="leagues-unit">
        <div *ngIf="myLeagues.length === 0" class="leagues-unit-card blur-background">
            <h2><strong>OH NON</strong> tu n'as pas de ligue :-(</h2>
            <p class="leagues-unit-card-join">Ne serait-ce pas le moment d'en <strong class="leagues-unit-card-join-link" (click)="openDialog()">rejoindre une</strong> ? <span [innerHTML]="emojiSmirkingFace"></span></p>
            <p class="leagues-unit-card-join">Ou encore mieux, tu peux <strong class="leagues-unit-card-join-link"><a routerLink="/create-league">créer la tienne</a></strong> ! <span [innerHTML]="emojiEyesStars"></span></p>
        </div>
        <app-league-card class="component-league-card" *ngFor="let league of myLeagues; index as i" [league]="league" [ngStyle]="{'background-image': 'url(../../../assets/images/bg-leagues/league' + (i+1) + '.jpg)'}"></app-league-card>
    </div>
    <div *ngIf="isLoading">
        <app-loader></app-loader>
    </div>
</div>