@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.header {
  &-nav {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #577e54;
    height: 80px;
    transition: height 0.1s linear;
    position: relative;

    .header-title {
      font-family: "Audiowide", sans-serif;
      font-style: italic;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 48px;
      margin: 10px 0;
      position: absolute;
      left: 10%;

      @media (max-width: 768px) {
        font-size: 30px;
      }

      @media (max-width: 500px) {
        font-size: 2rem;
        text-align: center;
        width: 75%;
      }

      & a {
        text-decoration: none;
        color: #282936;
        text-shadow: 1px 1px 5px white;
        transition: text-shadow 0.1s linear;

        &:hover {
          text-shadow: 1px 1px 10px white;
        }
      }
    }

    &-button-container {
      display: flex;
      justify-content: space-around;
      position: absolute;
      right: 5%;

      &-btn {
        margin-left: 1rem;
      }
    }
  }
}
