.league-card-container {
  font-family: 'Raleway', sans-serif;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: brightness(0.4);
  position: relative;
  transition: backdrop-filter 0.1s ease;
  height: 100%;
  width: 100%;

  &:hover {
    backdrop-filter: brightness(0.3);
  }

  a {
    text-decoration: none;
    color: #282936;
  }

  .league-card-title {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(202, 202, 202);
    letter-spacing: 2px;
  }

  .league-card-item {
    font-size: 1.2rem;
    text-align: start;
    color: white;
  }

  .top-right {
    position: absolute;
    top: 10px;
    right: 60px;

    @media (max-width: 768px) {
      position: unset;
    }
  }

  .bottom-right {
    position: absolute;
    bottom: 60px;
    right: 50px;
    background-color: #578a50;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 0 0.5rem;
    width: fit-content;

    @media (max-width: 768px) {
      position: unset;
      margin: 0 0 10px 0;
    }
  }
}
