.league-card-container {
  font-family: 'Raleway', sans-serif;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;

  a {
    text-decoration: none;
    color: #282936;
  }

  @media (max-width: 425px) {
    border-radius: 0;
}

  .league-card-title {
    font-size: 2rem;
    font-weight: 700;
  }

  .league-card-item {
    font-size: 1.1rem;
    text-align: start;

    strong {
      margin-left: 0.5rem;
    }

    .copy-icon {
      margin-left: 0.5rem;

      mat-icon {
        font-size: 1rem;
        padding-top: 0.1rem;
      }
    }
  }
}
