<div class="league-card-container">
  <a routerLink="/league" [state]="league">
    <h2 class="league-card-title">{{league.name}}</h2>
    <p class="league-card-item">Créé par {{league.pseudoOwner}}</p>
    <p class="league-card-item top-right">Nombre de joueurs : {{league.nbInLeague}}/{{league.nbPlayers}}</p>
    <p class="league-card-item bottom-right" matTooltip="Copier le code" (click)="copyCode();$event.preventDefault();$event.stopPropagation()">Code de la ligue : {{league.code}}<span class="copy-icon"></span></p>
  </a>
</div>
