.dialog-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .dialog-title {
    text-align: center;
  }

  .dialog-budget {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 1rem;
    font-weight: bold;
  }

  .budget-ok {
    color: rgb(24, 59, 24);
  }
  .budget-medium {
    color: rgb(153, 108, 25);
  }
  .budget-ko {
    color: rgb(142, 4, 4);
  }

  .players-filters {
    margin: 0 10px;
    display: flex;
    justify-content: space-around;
  }

  .players-container {
    margin: 0 10px;
    border: 1px solid rgba(80, 109, 82, 0.437);
    border-radius: 5px;

    .list-players {
      width: 100%;
      border-collapse: collapse;

      tr {
        height: 2rem;

        &:hover {
          background-color: rgba(217, 236, 217, 0.397);
        }
      }

      .man {
        color: blue;
      }

      .woman {
        color: rgb(210, 30, 81);
      }

      &-name {
        width: 30%;
        padding-left: 5px;
      }

      &-add {
        width: 4.5rem;
      }
    }
  }

  .modal-btn {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }

  .btn-players {
    &:nth-child(1) {
      margin-right: 5px !important;
    }
    &:nth-child(2) {
      margin-left: 5px !important;
    }
  }
}