<div class="dialog-container">
  <h1 mat-dialog-title class="dialog-title">Joueurs disponibles</h1>
  <p class="dialog-budget" [ngClass]="getBudgetClass()">Budget restant : {{budget}}€</p>
  <div class="players-filters">
    <app-filter [type]="'name'" (name)="updateListPlayersByName($event)"></app-filter>
    <app-filter [type]="'clubs'" [listClubs]="clubs" (idClub)="updateListPlayersByClub($event)"></app-filter>
    <app-filter [type]="'gender'" (gender)="updateListPlayersByGender($event)"></app-filter>
    <app-filter [type]="'spe'" (spe)="updateListPlayersBySpeciality($event)"></app-filter>
  </div>
  <div mat-dialog-content class="players-container">
    <table class="list-players">
      <tr *ngFor="let player of players" [ngClass]="player.sexe == 'M' ? 'man' : 'woman'">
        <td class="list-players-name">{{player.firstName}} {{player.lastName}} ({{player.pays}})</td>
        <td>{{player.age}} ans</td>
        <td>{{player.sigle}} {{player.dept}}</td>
        <td>{{player.classementSimple}}/{{player.classementDouble}}/{{player.classementMixte}}</td>
        <td>{{player.prix}} €</td>
        <td class="list-players-add">
          <app-button-buy [prix]="player.prix" 
                          [budget]="budget" 
                          [idPlayer]="player.id" 
                          [playerDejaAchete]="player.dejaAchete"
                          (montantAchat)="updateMontantAchat($event)"
                          (playersSelected)="updatePlayersSelected($event)"
                          (playersDeleted)="updatePlayersDeleted($event)">
          </app-button-buy>
        </td>
      </tr>
    </table>
  </div>
  <div mat-dialog-actions class="modal-btn">
    <app-button-move [class]="'valider'" class="modal-btn-unit btn-players" [buttonCaption]="btnCaptionValider" (click)="validerAchats()"></app-button-move>
    <app-button-move [class]="'annuler'" class="modal-btn-unit btn-players" [buttonCaption]="btnCaptionAnnuler" (click)="closeModal()"></app-button-move>
  </div>
</div>
