.player-container {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(63, 56, 56);
    padding: 10px;

    .player-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40%;
        p {
            text-align: center;
            font-weight: bold;
        }
        img {
            width: 120px;
            height: auto;
        }
    }

    .player-infos {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 60%;

        &-sub {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0;
            border-top: 1px solid rgb(81, 81, 81);

            p {
                margin: 0;
            }

            img {
                width: auto;
                height: 16px;
            }
        }

        &-classement {
            margin: 0;
        }

        &-specialite {
            font-size: 12px;
            border-top: 1px solid rgb(81, 81, 81);
            margin: 0;
        }
    }

    p {
        color: white;
    }
}