<div class="register-page">
  <div class="register-page-container blur-background">
    <app-button-retour [link]="link"></app-button-retour>
    <h1 class="register-page-title">Inscription</h1>
    <form class="register-page-form" [formGroup]="frmSignup" (ngSubmit)="onSubmit()">
      <div class="register-page-form-inputs">
        <section class="left register-page-form-section">
          <!-- pseudo -->
          <div class="register-page-form-input">
            <mat-form-field>
              <mat-label>Pseudo</mat-label>
              <input type="text" matInput formControlName="pseudo" [errorStateMatcher]="matcher" placeholder="Ex : Jay Delachatt">
              <mat-error *ngIf="frmSignup.hasError('minlength', 'pseudo') && !frmSignup.hasError('required', 'pseudo')">Ton pseudo doit contenir <strong>au moins 3 caractères</strong></mat-error>
              <mat-error *ngIf="frmSignup.hasError('required', 'pseudo')">La saisie du pseudo est <strong>obligatoire !</strong></mat-error>
            </mat-form-field>
          </div>
          <!-- email -->
          <div class="register-page-form-input">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher" placeholder="Ex : monemail@gmail.com">
              <mat-error *ngIf="frmSignup.hasError('email', 'email') && !frmSignup.hasError('required', 'email')">Entre une adresse email valide</mat-error>
              <mat-error *ngIf="frmSignup.hasError('required', 'email')">La saisie de l'email est <strong>obligatoire !</strong></mat-error>
            </mat-form-field>
          </div>
        </section>

        <section class="left register-page-form-section">
          <!-- mot de passe -->
          <div class="register-page-form-input">
            <mat-form-field>
              <mat-label>Mot de Passe</mat-label>
              <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher" placeholder="Ton mot de passe super sécure">
              <mat-error *ngIf="frmSignup.hasError('hasNumber', 'password') && !frmSignup.hasError('required', 'password')">Ton mot de passe doit contenir au moins <strong>1 chiffre</strong></mat-error>
              <mat-error *ngIf="frmSignup.hasError('hasCapitalCase', 'password') && !frmSignup.hasError('required', 'password')">Ton mot de passe doit contenir au moins <strong>1 lettre majuscule</strong></mat-error>
              <mat-error *ngIf="frmSignup.hasError('hasSmallCase', 'password') && !frmSignup.hasError('required', 'password')">Ton mot de passe doit contenir au moins <strong>1 lettre minuscule</strong></mat-error>
              <mat-error *ngIf="frmSignup.hasError('hasSpecialCharacters', 'password') && !frmSignup.hasError('required', 'password')">Ton mot de passe doit contenir au moins <strong>1 caractère spécial</strong></mat-error>
              <mat-error *ngIf="frmSignup.hasError('required', 'password')">La saisie du mot de passe est <strong>obligatoire !</strong></mat-error>
            </mat-form-field>
          </div>
          <!-- confirmation du mot de passe -->
          <div class="register-page-form-input">
            <mat-form-field>
              <mat-label>Confirmation du mot de passe</mat-label>
              <input type="password" matInput formControlName="confirmPassword" [errorStateMatcher]="matcher" placeholder="Allez, transformes l'essai champion">
              <mat-error *ngIf="frmSignup.hasError('NoPassswordMatch', 'confirmPassword') && !frmSignup.hasError('required', 'confirmPassword')">Les mots de passe doivent correspondre !</mat-error>
            </mat-form-field>
          </div>
        </section>
      </div>

      <div class="register-page-form-inputs with-margin">
        <app-button-move [class]="'valider'" [type]="submit" [buttonCaption]="caption" class="home-card-content-button" [disabled]="!frmSignup.valid"></app-button-move>
      </div>
    </form>
  </div>
</div>
