@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.connexion-page {
  height: calc(100% - 8rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;

  &-container {
    width: 90%;
    height: 85%;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px) sepia(40%);
    border-radius: 20px;
  }

  &-title {
    font-size: 3rem;
    text-align: center;
    color: #282936;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2rem 0;
  }

  &-form {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    &-inputs {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      width: 50%;
    }

    &-input {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin-bottom: 1.5rem;

      .inputs-error {
        display: flex;
        flex-direction: column;

        &-item {
          display: flex;
          align-items: center;
          vertical-align: center;
          margin-top: 5px;

          & p {
            margin-top: 0;
          }
        }
      }
    }
  }
}
