.home {
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  width: 100%;

  &-card {
    &-content {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      @media (max-width: 768px) {
        padding: 2rem;
      }

      &-title {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 2.2rem;
        margin: 1.5rem 3rem;

        @media (max-width: 768px) {
          font-size: 1.5rem;
          line-height: 1.5rem;
        }
      }

      &-text {
        font-size: 1.5rem;
        margin-bottom: 3rem;

        @media (max-width: 768px) {
          font-size: 1.2rem;
        }
      }

      &-button-container {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 70px;
        @media (min-width: 464px) {
          flex-direction: row;
        }
      }

      &-button {
        &:nth-child(0) {
          @media (min-width: 464px) {
          margin-left: 1rem;
          }
        }
        &:nth-child(1) {
          @media (min-width: 464px) {
            margin-right: 1rem;
          }
        }

        @media (max-width: 464px) {
          margin: 0;
          &:first-child {
            margin-bottom: 1rem;
          }
        }
      }
    }

    &-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 30px;
    }

    &-info {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 670px) {
        width: 95%;
        margin-bottom: 25px;
      }

      &-container {
        width: 100%;
        height: 100vh;
        display: flex;
        overflow: hidden;

        &-filter {
          width: 130%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.459);
          padding: 0 50px;
        }
      }

      &-title {
        color: white;
        font-weight: bold;
        font-size: 4rem;
      }

      &-text {
        color: white;
        font-size: 2rem;
        font-weight: 400;
      }

      &:nth-child(1) .home-card-info-container {
        background-image: url('../../../assets/images/computer.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
      }
      &:nth-child(2) .home-card-info-container {
        background-image: url('../../../assets/images/achat.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
      }
      &:nth-child(3) .home-card-info-container {
        background-image: url('../../../assets/images/compo.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
      }
      &:nth-child(4) .home-card-info-container {
        background-image: url('../../../assets/images/winner.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
      }
    }
  }
}
