button {
  position: relative;
  display: inline-block;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  padding: 15px 30px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: #fff;
  border-radius: 5px;
  width: 12rem;
  height: auto;
  opacity: 0.8;

  &.connexion {
    background-color: #559761;
    font-weight: bold;
    letter-spacing: 1px;
  }
  &.inscription {
    background-color: #497652;
    font-weight: bold;
    letter-spacing: 1px;
  }
  &.valider {
    background-color: #3b8443;
  }
  &.annuler {
    background-color: #8a2a2a;
  }

  &:hover {
    opacity: 1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}

.disabled {
  background-color: rgb(63, 63, 63) !important;
  opacity: 0.3;
  cursor: not-allowed;
  &:hover {
    opacity: 0.3 !important;
  }
}

@media (max-width: 768px) {

}