<div class="my-team-container">
    <div *ngIf="playersTemp != undefined" class="my-team-list">
        <h3>En cours d'achat :</h3>
        <div class="league-infos-classement">
            <table class="league-infos-classement-table">
              <tr class="league-infos-classement-table-header">
                <th class="league-infos-classement-table-header-classement">Joueur/Joueuse</th>
                <th class="league-infos-classement-table-header-score">Prix</th>
              </tr>
              <tr *ngFor="let player of playersTemp" class="league-infos-classement-table-rows">
                <td class="league-infos-classement-table-rows-line">{{player.nomPlayer}} {{player.prenomPlayer}}</td>
                <td class="league-infos-classement-table-rows-line">{{player.prixPlayer}} €</td>
              </tr>
            </table>
          </div>
    </div>
    <div *ngIf="players != undefined" class="my-team-list">
        <p>Liste des joueurs ici</p>
    </div>
    <div *ngIf="players == undefined && playersTemp == undefined" class="my-team-add">
        <p>Tu n'as pas de joueurs, cliques sur le bouton ci-dessous pour en acheter !</p>
    </div>
    <button (click)="openListPlayers()">Etoffer ma team</button>
</div>
