.my-team-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .my-team-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;
        
            .league-infos-classement {
              width: 100%;
              &-table {
                width: 100%;
                border-collapse: collapse;
        
                &-header, &-rows {
                  height: 30px;
                }
        
                &-header {
                  background-color: rgba(201, 83, 83, 0.7);
                  border-bottom: 1px solid rgb(190, 190, 190);
        
                  th:first-child {
                    border-top-left-radius: 7px;
                  }
                  th:last-child {
                    border-top-right-radius: 7px;
                  }
        
                  &-classement {
                      width: 30%;
                  }
        
                  &-score {
                    width: 25%;
                  }
                }
        
                &-rows {
                  &:nth-child(odd) {
                    background-color: rgba(192, 149, 149, 0.7);
                  }
                  &:nth-child(even) {
                    background-color: rgba(180, 119, 119, 0.7);
                  }
                  &:last-child {
                    td:first-child {
                      border-bottom-left-radius: 7px;
                    }
                    td:last-child {
                      border-bottom-right-radius: 7px;
                    }
                  }
                  
                  &-line {
                    text-align: center;
                  }
                }
            }
        }
    }

    .my-team-add {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        border: none;
        border-radius: 3px;
        padding: 5px 10px;
        background-color: rgb(85, 106, 73);
        font-size: 1rem;
        color: white;
        font-weight: bold;

        &:hover {
            background-color: rgb(111, 137, 97);
            cursor: pointer;
        }
    }
}