<div class="blur-background div-all-screen">
    <div class="leagues">
        <h1 class="leagues-title">Mes ligues</h1>
        <div class="leagues-unit">
            <div *ngIf="myLeagues.length === 0" class="leagues-unit-card">
                <h2><strong>OH NON</strong> vous n'avez pas de ligue :-(</h2>
                <div class="leagues-unit-card-btn">
                    <button class="btn-league"><mat-icon class="btn-league-icon">create_new_folder</mat-icon>Créer une ligue</button>
                    <button class="btn-league"><mat-icon class="btn-league-icon">group_add</mat-icon>Rejoindre une ligue</button>
                </div>
            </div>
            <div *ngIf="myLeagues.length > 0" class="leagues-unit-card">

            </div>
        </div>
    </div>
</div>