@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.connexion-page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  width: 100%;

  &-container {
    width: 100%;
    height: 100%;
    padding: 20px 10% 0 10%;

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  &-title {
    font-size: 3rem;
    text-align: center;
    color: #282936;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2rem 0;
  }

  &-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    &-inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    &-input {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin-bottom: 1.5rem;
    }
  }
}
