/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("./assets/images/badminton-cover.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
}

html, body {
  margin: 0;
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-flow: column;
  height: 100%;

  .root {
    display: contents;

    .header-container {
      flex: 0 1 auto;
    }

    .div-all-screen {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
    }

    .footer-container {
      flex: 0 1 auto;
      width: 100%;
    }
  }
}

.blur-background {
  background-color: rgba(255,255,255,0.4);
  backdrop-filter: blur(10px) sepia(10%);
}

.full-screen {
  height: 100%;
  width: 100%;
}

.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: none;
}

.success {
  background-color: rgb(62, 116, 62) !important;
  color: white !important;
  border-radius: 5px !important;

  .mdc-button__label {
    color: white !important;
  }
}

.error {
  background-color: rgb(184, 40, 0) !important;
  color: white !important;
  border-radius: 5px !important;

  .mdc-button__label {
    color: white !important;
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
}