/* You can add global styles to this file, and also import other style files */

body {
  background-image: url("./assets/images/badminton-cover.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
}

html, body {
  margin: 0;
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-flow: column;
  height: 100%;

  .root {
    display: contents;

    .header-container {
      flex: 0 1 auto;
    }

    .div-all-screen {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
    }

    .footer-container {
      flex: 0 1 auto;
      width: 100%;
    }
  }
}

.blur-background {
  background-color: rgba(255,255,255,0.4);
  backdrop-filter: blur(10px) sepia(10%);
}

.full-screen {
  height: 100%;
  width: 100%;
}

.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: none;
}

.success {
  background-color: rgb(62, 116, 62) !important;
  color: white !important;
  border-radius: 5px !important;

  .mdc-button__label {
    color: white !important;
  }
}

.error {
  background-color: rgb(184, 40, 0) !important;
  color: white !important;
  border-radius: 5px !important;

  .mdc-button__label {
    color: white !important;
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #577e544b !important;
  border-radius: 10px 10px 0 0;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above,
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text,
.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-mdc-form-field.mat-focused .mat-mdc-select-arrow {
  color: #3c583a !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-bottom-color: #3c583a !important;
}

.mat-mdc-header-row {
  background-color: #6b9a68 !important;
  height: 40px !important;

  th:first-child {
    border-top-left-radius: 7px;
  }
  th:last-child {
    border-top-right-radius: 7px;
  }
}

.mat-mdc-row {
  height: 35px !important;

  &:last-child {
    td:first-child {
      border-bottom-left-radius: 7px;
    }
    td:last-child {
      border-bottom-right-radius: 7px;
    }
  }
}

.mat-mdc-row:nth-child(even) {
  background-color: rgba(122, 143, 112, 0.38) !important;
}

.mat-mdc-row:nth-child(odd) {
  background-color: rgba(122, 143, 112, 0.555) !important;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: rgb(137, 137, 137);
}

.mat-mdc-table {
  background-color: transparent !important;
}

.mat-mdc-header-cell, .mat-mdc-cell {
  font-family: "Raleway", sans-serif !important;
}

.mat-mdc-header-cell {
  font-weight: bold !important;
}